
<% form_for @user do |f| %>
 <% if @user.errors.any? %>  
   <div id="errorExplanation">  
     <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>  
     <ul>  
     <% @user.errors.full_messages.each do |msg| %>  
       <li><%= msg %></li>  
     <% end %>  
     </ul>  
   </div>  
   <% end %> 

<p>
<%= t("user.name") %>
<br />
<%= f.text_field :name %>
</p>
<p>
<%= t("user.email") %>
<br />
<%= f.text_field :email %>
</p>
<p>
<%= t("user.address") %>
<br />
<%= f.text_area :address ,:cols =>50 ,:rows =>5 %>
</p>
<p>
<%= submit_tag t("user.save")%>
</p>
<% end %>
<br/>
<br/>
<br/>
<%= link_to("Back",{:action =>'index'})%>
